header,nav,hgourp,article,section,aside,figure,footer,ul,li,h1,h2,h3,h4,h5,h6{display:block;}
html{width:100%;background-color:#ff8080;}
body{background-color:#efe4b0;
font-family:Helvetica,標楷體,新細明體,sans-serif;font-size:15px;
font-style:normal;font-variant:normal;font-weight:normal;
line-height:normal;
margin-bottom:20px;margin-left:auto;
margin-right:auto;margin-top:10px;padding-bottom:5px;padding-left:10px;padding-right:10px;
padding-top:5px;width:100%;}a{color:white;
text-decoration:none;}h1,h2,h4{margin-bottom:0;
margin-left:0;margin-right:0;margin-top:0;}a:hover{color:white;}
#header{background-color:#ff8080;margin-bottom:10px;}
#header hgroup{background-color:#ff8080;}
#header hgroup h1{background-color:#ff8080;
#header hgroup h4{background-color:#ff8080;color:white;
font-style:italic;font-weight:normal;
margin-bottom:10px;text-indent:10px;}
#header nav{background-color:red;font-size:16px;}
#header nav ul{background-color:red;margin-bottom:0;
margin-left:0;margin-right:0;margin-top:0;overflow-x:hidden;overflow-y:hidden;padding-bottom:5px;padding-left:0;padding-right:0;padding-top:0;}
#header nav li{background-color:red;float:left;list-style-image:initial;list-style-position:initial;list-style-type:none;padding-bottom:0;padding-left:5px;padding-right:5px;padding-top:0;}
#header nav li.nav-iteam a{background-color:red;color:yellow;}
#header nav li.nav-iteam a:hover{background:red;}
#page-content{overflow-x:hidden;overflow-y:hidden;text-align:justify;}
#page-content section{float:left;width:100%;}
#page-content aside{margin-left:0px;width:100%;}
#page-content aside figure{margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;}footer{margin-bottom:10px;margin-left:0;margin-right:0;margin-top:15px;text-align:center;}